//colors
$bright-orange: hsl(31, 77%, 52%);
$cyan: hsl(184, 100%, 22%);
$dark-cyan: hsl(179, 100%, 13%);
$paragraphs: hsla(0, 0%, 100%, 0.75);
$background: hsl(0, 0%, 95%);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

body{
    background: $background;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: $paragraphs;
    font-weight: 400;
}

.attribution { color: black; font-size: 11px; text-align: center; position: relative; bottom: 0px;}
.attribution a { color: hsl(228, 45%, 44%); }

.previev{
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    width: 80%;
    height: 1200px;
    display: flex;
    flex-direction: column;

    &__btn{
        padding: 15px;
        border: 0;
        border-radius: 20px;

        &--orange{
            color: $bright-orange;

            &:hover{
                cursor:pointer;
                border: 2px solid $background;
                background: $bright-orange;
                color: $background;
                padding:13px;
            }
        }

        &--cyan{
            color: $cyan;

            &:hover{
                cursor:pointer;
                border: 2px solid $background;
                background: $cyan;
                color: $background;
                padding:13px;
            }
        }

        &--darkcyan{
            color: $dark-cyan;
            
            &:hover{
                cursor:pointer;
                border: 2px solid $background;
                background: $dark-cyan;
                color: $background;
                padding:13px; 
            }
        }
    }

    &__mheader{
        font-family: 'Big Shoulders Display', cursive;
        font-size: 3rem;
        font-weight: 700;
        color: $background;
    }

    &__card{
        flex: 1;
        padding: 40px;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        &--orange{
            background: $bright-orange;
        }

        &--cyan{
            background: $cyan;
        }

        &--darkcyan{
            background: $dark-cyan;
        }
    }
}

@media only screen and (min-width: 850px) {
    .previev{
        display: flex;
        flex-direction: row;
        height: 500px;
    }

    .previev__mheader{
        margin-bottom: -60px
    }
  }